<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 根标签 -->
<configuration>
    <!--  数据配置-->
    <properties resource="db.properties"></properties>

    <!-- settings是 MyBatis 中极为重要的调整设置，它们会改变 MyBatis 的运行时行为。 -->
 <settings>

     <!--开启驼峰匹配-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="cacheEnabled" value="true"/>

     <!-- 设置积极懒加载,默认值是true -->
     <setting name="lazyLoadingEnabled" value="true" />
     <setting name="aggressiveLazyLoading" value="false" />
     <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />







     <!--侵入式延迟加载开关-->
     <!--3.4.1版本之前默认是true，之后默认是false-->

 </settings>
<!--    <properties>
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://gz-cdb-romdgydr.sql.tencentcdb.com:61332/ssmdemo?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai"/>
        <property name="username" value="root"/>
        <property name="password" value="passw0rd"/>
    </properties>-->

    <!-- 环境，可以配置多个，default：指定采用哪个环境 -->
    <environments default="test">
        <!-- id：唯一标识 -->
        <environment id="test">
            <!-- 事务管理器，JDBC类型的事务管理器 -->
            <transactionManager type="JDBC" />
            <!-- 数据源，池类型的数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}" />
                <property name="url" value="${jdbc.url}" />
                <property name="username" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
            </dataSource>
        </environment>

 <!--      <environment id="development">
            &lt;!&ndash; 事务管理器，JDBC类型的事务管理器 &ndash;&gt;
            <transactionManager type="JDBC" />
            &lt;!&ndash; 数据源，池类型的数据源 &ndash;&gt;
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" /> &lt;!&ndash; 配置了properties，所以可以直接引用 &ndash;&gt;
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>-->

    </environments>




    <mappers>
        <mapper resource="mapper/MyMapper.xml"></mapper>
        <mapper resource="mapper/UserDaoMapper.xml"></mapper>
<!--
        <mapper resource="mapper/UserDaoMapper.xml"></mapper>
-->


    </mappers>
    


</configuration>